<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskPR</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<form>
    <th:block th:fragment="select (label, name, items)">
        <div th:with="valid=${!#fields.hasErrors(name)}"
             th:class="${'form-group' + (valid ? '' : ' has-error')}"
             class="form-group">
            <label class="col-sm-4 control-label" th:text="${label}">Label</label>

            <div class="col-sm-12">
                <select class="form-control rounded-0" th:field="*{__${name}__}">
                    <option th:each="item : ${items}" th:value="${item.id}"
                            th:text="${item}">item</option>
                </select>
                <span th:if="${valid}"
                      class="glyphicon glyphicon-ok form-control-feedback"
                      aria-hidden="true"></span>
                <th:block th:if="${!valid}">
            <span
                    class="glyphicon glyphicon-remove form-control-feedback"
                    aria-hidden="true"></span>
                    <span class="help-inline" th:errors="*{__${name}__}">Error</span>
                </th:block>
            </div>
        </div>
    </th:block>
</form>
</body>
</html>